.about-page {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 75vw;
    font-family: 'Orbitron', sans-serif;
}

.section {
    background-color: rgba(0, 0, 2, 0.2);
    border: 1px solid white;
    border-radius: 8px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-height: 100%;
    padding: 2.5%;
}

.about-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.about-description {
    line-height: 1.6;
    text-align: justify;
    letter-spacing: 0.1rem;
}

.desc-img {
    display: flex;
    justify-content: center;
    padding: 2.5%;
}

.desc-img.FIC img {
    height: auto;
    width: 40%;
    border-radius: 50%;
    margin: 5%;
}

.desc-img.Astriaza img {
    height: auto;
    width: 50%;
}

.fic-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
}

@media (max-width: 768px) {
    .about-page {
        width: 99vw;
        padding: 10px;
        grid-template-columns: 1fr;
    }

    .section {
        min-height: auto;
        height: max-content;
    }

    .about-page {
        max-height: 100%;
    }
}
