.team-page {
    min-height: 100%;
    width: 100vw;
}

.scrollable-container {
    display: flex; /* Change to flexbox */
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center; /* Center items */
}

.team-section {
    flex: 1 1 40%; /* Adjust width as needed */
    max-width: 600px; /* Set a max width for each section */
    min-width: 350px;
    margin: 10px; /* Add margin for spacing */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: rgba(0, 0, 2, 0.2); /* Light background for sections */
    border: 1px solid white; /* Border for sections */
    border-radius: 8px; /* Rounded corners */
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    transition: transform 0.3s; /* Animation for hover effect */
}

.team-card {
    display: flex;
    flex-wrap: wrap; /* allow multiple per row */
    justify-content: center; /* center them */
}

.member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
    /* width: 70vw; */
}

.member-card img {
    margin-inline-end: 1rem;
    border-radius: 50%;
    width: 20vmin;
    height: 20vmin;
    aspect-ratio: 1;
}

.team-section:hover {
    transform: scale(1.01); /* Slightly enlarge on hover */
}

@media (hover: none) {
    .team-section {transform: initial;}
}

h1 {
    margin-bottom: 15px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .team-page {
        width: 99vw;
        padding: 10px;
    }
    p {
        flex-direction: column;
    }
}